<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="get-request">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Preia</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="requests">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Solicitari</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="progress">
                <ion-icon name="reload-circle-outline"></ion-icon>
                <ion-label>In progres</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="done">
                <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                <ion-label>Istoric</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>
