<ion-header [translucent]="true">
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div id="done">
        <ion-list>
            <!-- <ion-item *ngIf='request && request.status ==  3'>
                <ion-label class="ion-text-wrap">{{request.phone}}
                    <ion-badge color="success">
                        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                    </ion-badge>
                </ion-label>
            </ion-item>
            <ion-item *ngIf='request && request.status == 4'>
                <ion-label class="ion-text-wrap">{{request.phone}}
                    <ion-badge color="warning">
                        <ion-icon name="alert"></ion-icon>
                    </ion-badge>
                </ion-label>
            </ion-item> -->
            <ion-item *ngFor="let item of dataService.historyList">
                <ion-label *ngIf="item.status == 3" class="ion-text-wrap">{{item.phone}}
                    <ion-badge color="success">
                        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                    </ion-badge>
                </ion-label>

                <ion-label *ngIf="item.status == 4" class="ion-text-wrap">{{item.phone}}
                    <ion-badge color="warning">
                        <ion-icon name="alert"></ion-icon>
                    </ion-badge>
                </ion-label>
            </ion-item>
        </ion-list>



    </div>
</ion-content>