#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}

#message {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 8%;
  font-size: 25px;
}

.my-icon{
  padding-top: 1em;
}


