<ion-header [translucent]="true">
    <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="progress">
        <ion-list>
            <ion-item *ngIf="request" button (click)="submit1()">
                <ion-label class="ion-text-wrap">{{request.phone}}
                    <br>
                    <p>{{request.auto}}</p>
                    <ion-button color="light">
                        Schimbare Status
                    </ion-button>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div id="container" *ngIf="viewModel">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label color="dark">
                        In progres:
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label color="dark">
                        Telefon: {{viewModel.phone}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label color="dark">
                        Auto: {{viewModel.auto}}

                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button style="margin-top: 15%;" (click)="openActionSheet()">Schimba status</ion-button>
    </div>

    <div id="container" *ngIf="!viewModel">
        Nu exista cerere in progres!
    </div>
</ion-content>